<div class="bg login-field" style="background:#3F51B5;">
    <div class="container login-card" style="text-align:center;max-width:480px;margin:0 auto">
        <h3 style="color:#fff;">Doctor's Portal</h3>
        <form style="padding-top:2rem;">
            <div class="input-field col s6" style="padding:0rem;">
                <input type="email" class="form-control" id="user" aria-describedby="emailHelp" style="color:#fff">
                <label for="user">Username</label>
            </div>
            <div class="input-field col s6" style="padding:0rem;">
                <input type="password" class="form-control" id="pass" style="color:#fff">
                <label for="pass">Password</label>
            </div>
            <div class="form-group" style="text-align:left">
                <a href="#/forgot" class="my-links" style="flex-grow:1;font-size:14px;">Forgot password?</a></br>
                <a href="#/reg" class="my-links" style="flex-grow:1;font-size:14px;">Register here</a>
            </div>
            <button type="submit" class="btn btn-primary my-btn" style="width:100%;background:#fff !important;color:#3F51B5" ng-click="loginAccount()">Submit</button>
        </form>
    </div>
</div>