<div class="bg login-field" style="">
    <div class="container login-card" style="text-align:center;max-width:480px;margin:0 auto">
        <h3>Recover Password</h3>
        <form style="padding-top:2rem;">
            <div class="form-group">
                <input type="email" id="email" class="form-control" id="RecoverEmail" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary my-btn" style="width:100%;" ng-click="forgot()">Submit</button>
        </form>
    </div>
</div>