<div class="row" style="height:100vh">
    <a href="#/patient" class="col-sm-6 col-md-6 waves-effect waves-light patient">
        Patient
    </a>
    <a href="#/login" class="col-sm-6 col-md-6 waves-effect waves-light  doctor">
        Doctor
    </a>
</div>


<!-- <div class="row" style="height:100vh;">
    <div class="col-sm-6 col-md-6 patient">
        <div style="flex-direction:column;text-align:center">
            <h3 style="font-size:50px;margin-bottom:2rem;">Patient</h3>
            <a href="#/patient" class="my-btn-2">Enter here</a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 doctor">
        <div style="flex-direction:column;text-align:center">
            <h3 style="font-size:50px;margin-bottom:2rem;">Doctor</h3>
            <a href="#/login" class="my-btn-2">Enter here</a>
        </div>
    </div>
</div> -->