<div class="bg login-field" style="">
    <div class="container login-card" style="text-align:center;max-width:480px;margin:0 auto">
        <h3>Register Here!</h3>
        <form style="padding-top:2rem;">
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="docID" placeholder="Doctor ID">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="hospital" placeholder="Hospital">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="special" placeholder="Specialization">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="mob" placeholder="Mobile">
            </div>

            <button type="submit" class="btn btn-primary my-btn" ng-click="register()" style="width:100%;" ng-click="loginAccount()">Submit</button>
        </form>
    </div>
</div>