<div class="bg login-field" style="">
    <div class="container login-card" style="text-align:center;max-width:480px;margin:0 auto">
        <h3 style="color:#fff;">Patient's Portal</h3>
        <form style="padding-top:2rem;">
            <div class="input-field col s6">
                <input id="aadharNumber" type="number" class="validate" style="color:#fff;">
                <label for="aadharNumber">Last Name</label>
            </div>
            <button type="submit" class="btn btn-primary my-btn" style="width:100%;background:#fff !important;color:#009688" ng-click="patientLogin()">Submit</button>
        </form>
    </div>
</div>